<a href="https://colab.research.google.com/github/FarhinaMirza/CE880/blob/main/causal_inference_project/dataset2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving jobs.csv to jobs.csv

In [3]:
df = pd.read_csv("jobs.csv")

In [4]:
df.head()

         x1        x2   x3   x4   x5   x6  ...  x15       x16  x17    t    y    e
0 -0.614282  1.464727  0.0  0.0  1.0  0.0  ...  0.0  2.843909  0.0  0.0  1.0  0.0
1 -0.802463  0.101835  0.0  0.0  1.0  0.0  ...  0.0  0.038422  0.0  0.0  1.0  0.0
2 -0.896553 -0.238888  1.0  0.0  1.0  1.0  ...  0.0 -0.191304  0.0  0.0  1.0  0.0
3 -0.896553 -0.238888  0.0  0.0  0.0  1.0  ...  0.0  0.173108  0.0  0.0  1.0  1.0
4  0.138440 -1.601779  1.0  0.0  1.0  1.0  ...  0.0 -0.779227  0.0  0.0  1.0  0.0

[5 rows x 20 columns]

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3212 entries, 0 to 3211
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      3212 non-null   float64
 1   x2      3212 non-null   float64
 2   x3      3212 non-null   float64
 3   x4      3212 non-null   float64
 4   x5      3212 non-null   float64
 5   x6      3212 non-null   float64
 6   x7      3212 non-null   float64
 7   x8      3212 non-null   float64
 8   x9      3212 non-null   float64
 9   x10     3212 non-null   float64
 10  x11     3212 non-null   float64
 11  x12     3212 non-null   float64
 12  x13     3212 non-null   float64
 13  x14     3212 non-null   float64
 14  x15     3212 non-null   float64
 15  x16     3212 non-null   float64
 16  x17     3212 non-null   float64
 17  t       3212 non-null   float64
 18  y       3212 non-null   float64
 19  e       3212 non-null   float64
dtypes: float64(20)
memory usage: 502.0 KB

                 x1            x2  ...            y            e
count  3.212000e+03  3.212000e+03  ...  3212.000000  3212.000000
mean   2.382901e-16 -3.820971e-16  ...     0.849938     0.224782
std    1.000000e+00  1.000000e+00  ...     0.357188     0.417504
min   -1.461095e+00 -3.986840e+00  ...     0.000000     0.000000
25%   -8.024627e-01 -5.796108e-01  ...     1.000000     0.000000
50%   -3.320111e-01  1.018350e-01  ...     1.000000     0.000000
75%    7.970728e-01  4.425579e-01  ...     1.000000     0.000000
max    2.114337e+00  1.805449e+00  ...     1.000000     1.000000

[8 rows x 20 columns]

In [6]:
df.isnull()

         x1     x2     x3     x4     x5  ...    x16    x17      t      y      e
0     False  False  False  False  False  ...  False  False  False  False  False
1     False  False  False  False  False  ...  False  False  False  False  False
2     False  False  False  False  False  ...  False  False  False  False  False
3     False  False  False  False  False  ...  False  False  False  False  False
4     False  False  False  False  False  ...  False  False  False  False  False
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
3207  False  False  False  False  False  ...  False  False  False  False  False
3208  False  False  False  False  False  ...  False  False  False  False  False
3209  False  False  False  False  False  ...  False  False  False  False  False
3210  False  False  False  False  False  ...  False  False  False  False  False
3211  False  False  False  False  False  ...  False  False  False  False  False

[3212 rows x 20 columns]

In [7]:
df.isnull().sum()

x1     0
x2     0
x3     0
x4     0
x5     0
x6     0
x7     0
x8     0
x9     0
x10    0
x11    0
x12    0
x13    0
x14    0
x15    0
x16    0
x17    0
t      0
y      0
e      0
dtype: int64